/* ------------------- General ------------------- */

@media (min-width: 601px) {
  .mobile-only {
      display: none;
  }
}

@media (max-width: 600px) {
  .mobile-hide {
      display: none;
  }
}

/* ------------------- Html & Body -----------------*/

html {
  height: 100%;
}
body {
  min-height: 100%;
  background: darkred;
  border: 4px solid rgb(167, 0, 0);
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  font-family: 'Didact Gothic';font-size: 22px;
}

/* ------------------- Page -----------------*/

.page {
  position: absolute;
  width: calc(100vw - 8px);
  height: calc(100vh - 8px);
  top: 4px;
  left: 4px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: black;
  background-image: url('../resources/header.jpg');
  background-size: cover;
  background-position: center;
}

.page:before {
  position: absolute;
  content: ' ';
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  box-shadow: inset 0 4px 20px rgba(0, 0, 0, 0.95);
  -moz-transition: background 3s ease-in-out;
  -webkit-transition: background 3s ease-in-out;
  -o-transition: background 3s ease-in-out;
  transition: background 3s ease-in-out;
}

.content {
  position: absolute;
  width: 95%;
  height: 95%;
  max-width: 1000px;
}
/* ------------------- Header ------------------- */

header {
  position: relative;
  width: 100%;
  
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-bottom: 50px;
}

header.start-page {
  height: 38%;
  min-height: 200px;
  max-height: 400px;
}

header.sub-page {
  height: 15%;
  max-height: 150px;
}

header .logo {
  position: absolute;
  top: 16px;
  left: 20px;
}

header .logo:after {
  position: absolute;
  content: ' ';
  height: 100%;
  width: 100%;
  border-radius: 50%;
  box-shadow: inset 0 4px 20px rgba(0, 0, 0, 0.95);
}

header .icon {
  position: absolute;
  top: 5px;
  left: 5px;
}

header .title {
  position: absolute;
  width: 70%;
  text-align: center
}
header .title h2 {
  color: #c2c2c2;
  margin: 0;
}
header .title h1 {
  color: white;
  margin: 0;
  font-weight: bold;
}

@media (min-width: 601px) {
  header.start-page .title {
    top: 30px;
  }

  header.start-page .title h1 {
    font-size: 5.5rem;
  }

  header.start-page .title h2 {
    font-size: 3.5rem;
  }

  header.sub-page .title {
    top: 15px;
  }

  header.sub-page .title h1 {
    font-size: 1.8rem;
    font-weight: normal;
  }

  header .logo {
    width: 70px;
    height: 70px;
  }

  header .icon {
    width: 60px;
    height: 60px;
  }

  header .logo:after {
    background: rgba(0, 0, 0, 0.3);
    -moz-transition: background 0.3s ease-in-out;
    -webkit-transition: background 0.3s ease-in-out;
    -o-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
  }
  header .logo:hover:after {
    background: rgba(0, 0, 0, 0.0);
  }
}

@media (max-width: 600px) {
  header .logo {
    top: 10px;
    left: 10px;
    width: 60px;
    height: 60px;
  }

  header .icon {
    width: 50px;
    height: 50px;
  }

  header.start-page .title {
    top: 20px;
    min-width: 360px;
    width: 90%;
  }

  header.start-page .title h1 {
    font-size: 3.5rem;
  }

  header.start-page .title h2 {
    font-size: 2.2rem;
  }

  .fixed-action-btn .btn-floating.btn-large {
    margin: 10px 15px;
  }
}

/* ------------------- Summary ------------------- */
summary {
  font-size: 2rem;
  padding: 1.2rem 20px;
  
  text-align: center;
}

summary {
  -moz-transition: background-color 0.3s ease-in-out;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
summary.primary {
  background-color: rgb(164, 46, 30, 0.9);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.7);
  margin-bottom: 30px; 
}
summary.primary:hover {
  background-color: rgba(223, 65, 44, 0.9);
}

summary.secondary {
  background-color: rgba(167, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(167, 0, 0, 0.9);
}
summary.secondary:hover {
  background-color: rgba(223, 65, 44, 0.9);
}




summary p {
  color: #c2c2c2;
  text-shadow: 0 2px 2px rgba(167, 0, 0, 0.9);
  margin: 0 0;
}

summary p.text__small {
  font-size: 1.2rem;
}

summary:hover p {
  color: white;
}

@media (max-width: 600px) {
  summary {
    font-size: 1.7rem;
  }  
}

/* ------------------- Offering ------------------- */


#offer-bg-cont{
  background-color: transparent;
}

.col > p{
  color: black;
  background-color: white;
  text-align: center;
  min-height: 80px;

}


/* ------------------- Form colors ------------------- */
/* label color */
.input-field label {
    color: #fff !important;
}

/* label focus color */
.input-field input:focus + label {
    color: #fff !important;
}

/* label underline focus color */
.input-field input:focus {
    border-bottom: 1px solid #fff !important;
    box-shadow: 0 1px 0 0 #fff !important;
}

/* label underline focus color */
textarea:focus {
    border-bottom: 1px solid #fff !important;
    box-shadow: 0 1px 0 0 #fff !important;
}
